<!DOCTYPE html>

<main>
    <div class="ui segment">
        <h1 class="title">At least we can see something now</h1>
        <p>This is visual of templating through EJS</p>
    </div>
    <script src="./jquery.js"></script>
    <script type="text/javascript" src="script.js"></script>
</main>